<ion-header>
</ion-header>


<ion-content class="ion-padding">
    <ion-img style="width: 100%; height: 100px; margin-top: 4%;"
    src="assets/logo.png">
  </ion-img>
  <ion-grid>
    <ion-row>
      <ion-col style="color: black;" >
        <h1 style="color: black; margin-left: 25%;margin-top: -10px;">A BETTER WAY</h1>
        <h1 style="color: black; margin-left: 35%;margin-top: -10px;">TO DINE</h1>
        <h6 style="margin-left: 28%;">Dine. Eearn. Redeam</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm.value)">
  <div class="user_input">
    <ion-item lines="none">
      <ion-input formControlName="email" type="email" placeholder="Email Address" required></ion-input>
    </ion-item >

    <ion-item lines="none">
      <ion-input formControlName="password" type="password"  placeholder="password" required>
      </ion-input>
    </ion-item>
  </div>


    <ion-button class="ion-margin-top" type="submit" expand="block" [disabled]="employeeForm.invalid">Login</ion-button>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-label style="color: black; font-size:medium;">Remember Me?</ion-label>
          <ion-toggle checked></ion-toggle>
        <ion-label style="color: black; font-size: medium; float: right;">Forgot Password</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-label style="color: black; margin-left: 35%;">Or Sign in with</ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-label class="logo">
          <ion-img src="assets/fb.svg" style="height: 50px; width: 50px"></ion-img>
          <ion-img src="assets/google.svg" style="height: 46px; width: 46px"></ion-img>
        </ion-label>
    </ion-row>
    <ion-row style="margin-top: 10px;">
      <ion-col class="extra_buttons">
        <ion-button class="ion-margin-top" type="submit" expand="block" >Become a member</ion-button>
        <ion-button class="ion-margin-top" type="submit" expand="block" >Register membership card</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
